<nav>
  <a [routerLink]="['/']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"
     matTooltip="Home"><mat-icon>near_me</mat-icon></a>
  <a [routerLink]="['/houses']" routerLinkActive="active" matTooltip="Houses"><mat-icon>home</mat-icon></a>
  <a [routerLink]="['/routes']" routerLinkActive="active" matTooltip="Routes"><mat-icon>directions</mat-icon></a>
  <a [routerLink]="['/import-export']" routerLinkActive="active" matTooltip="Import/Export"><mat-icon>compare_arrows</mat-icon></a>
</nav>
