<h2>Delivery: {{currentRoute?.name}}</h2>
<div class="results">
  <aside>
    <h3>Houses</h3>
    <table mat-table [dataSource]="routeSource">
      <ng-container matColumnDef="select">
        <th mat-header-cell *matHeaderCellDef>
          <mat-checkbox></mat-checkbox>
        </th>
        <td mat-cell *matCellDef="let house">
          <mat-checkbox></mat-checkbox>
        </td>
      </ng-container>
      <mat-text-column name="name"></mat-text-column>
      <mat-text-column name="street"></mat-text-column>
    </table>
  </aside>
  <div class="map">

    <agm-map *ngIf="currentRoute" [latitude]="currentRoute.lat" [longitude]="currentRoute.lng" [zoom]="zoom">
      <agm-marker [latitude]="house.lat" [longitude]="house.lng"
                              *ngFor="let house of houses; let i = index" [label]="getIndexLetter(i)"
                              [iconUrl]="iconUrl(house.$key)"
      ></agm-marker>
      <agm-marker [latitude]="driver.lat" [longitude]="driver.lng"
                              *ngFor="let driver of drivers | async; let i=index"
                              [title]="driver.name" [label]="firstInitial(driver.name)"
                              [iconUrl]="driverIconUrl(i)"></agm-marker>
    </agm-map>
  </div>
</div>
