<h2>Import/Export Data</h2>
<mat-card>
  <mat-card-title>Download</mat-card-title>
  <button type="button" mat-raised-button color="accent" (click)="exportData()">Download Data/Template</button>
</mat-card>

<mat-card>
  <mat-card-title>Upload</mat-card-title>
  <form class="upload" (submit)="readFile()" #uploadForm="ngForm">
    <input type="file" (change)="fileChange($event)" name="uploadFile"/>
    <button class="upload-button" mat-raised-button color="warn" *ngIf="fileSelected">Upload Data (WARNING: overwrites existing data)</button>
  </form>
  <div *ngIf="message" class="callout" [class.is-important]="error">
    <header *ngIf="error">Error</header>
    <header *ngIf="!error">Success!</header>
    <p>
      {{message}}
    </p>
  </div>
</mat-card>

