<header>
  <h2>Route: {{route?.name}}</h2>
  <div class="action-wrapper">
    <button md-icon-button (click)="editRoute = !editRoute">
      <md-icon>edit</md-icon>
    </button>
    <div class="actions" *ngIf="editRoute">
      <md-input-container>
        <input mdInput placeholder="Route Name" [(ngModel)]="route.name" (ngModelChange)="routeNameChange($event)"/>
      </md-input-container>
      <div class="remove-route">
        <md-menu #removeAlert="mdMenu">
          <button md-menu-item (click)="deleteRoute()"> Are you sure? </button>
        </md-menu>

        <button md-button color="warn" [mdMenuTriggerFor]="removeAlert">Delete Route</button>
      </div>
    </div>
  </div>
</header>
<div class="results">
  <aside>
    <h3>Houses</h3>
    <md-list dense class="dragula-container" [dragula]="dragulaBag" [dragulaModel]="route?.houses">
      <md-list-item *ngFor="let house of houses | async; let i=index;" class="mover">
        <md-icon md-list-icon class="draggable">swap_vert</md-icon>
        <h3 md-line>{{house.name}} ({{getIndexLetter(i)}})</h3>
        <p md-line>{{house.street}}</p>
        <p md-line>{{house.notes}}</p>
        <span><button md-icon-button (click)="remove(house.$key)"><md-icon>delete</md-icon></button></span>
      </md-list-item>
    </md-list>
  </aside>
  <sebm-google-map *ngIf="route && houses" [latitude]="route.lat" [longitude]="route.lng" [zoom]="zoom">
    <sebm-google-map-marker [latitude]="house.lat" [longitude]="house.lng"
                            *ngFor="let house of (houses | async); let i = index" [label]="getIndexLetter(i)"
                            [iconUrl]="iconUrl"
    ></sebm-google-map-marker>
  </sebm-google-map>
  <aside class="unused-houses" *ngIf="(unassigned | async)?.length > 0">
    <h3>Unassigned Houses</h3>
    <md-list dense>
      <md-list-item *ngFor="let house of unassigned | async">
        <h3 md-line>{{house.name}}</h3>
        <p md-line>{{house.street}}</p>
        <span><button md-icon-button (click)="add(house.$key)"><md-icon>add</md-icon></button></span>
      </md-list-item>
    </md-list>
  </aside>
</div>
