<header>
  <h2>Route: {{route?.name}}</h2>
  <div class="action-wrapper">
    <button mat-icon-button (click)="editRoute = !editRoute">
      <mat-icon>edit</mat-icon>
    </button>
    <div class="actions" *ngIf="editRoute">
      <mat-form-field>
        <input matInput placeholder="Route Name" [(ngModel)]="route.name" (ngModelChange)="routeNameChange($event)"/>
      </mat-form-field>
      <div class="remove-route">
        <mat-menu #removeAlert="matMenu">
          <button mat-menu-item (click)="deleteRoute()"> Are you sure? </button>
        </mat-menu>

        <button mat-button color="warn" [matMenuTriggerFor]="removeAlert">Delete Route</button>
      </div>
    </div>
  </div>
</header>
<div class="results">
  <aside>
    <h3>Houses</h3>
    <mat-list dense class="dragula-container" [dragula]="dragulaBag" [dragulaModel]="route?.houses">
      <mat-list-item *ngFor="let house of houses | async; let i=index;" class="mover">
        <mat-icon mat-list-icon class="draggable">swap_vert</mat-icon>
        <h3 mat-line>{{house.name}} ({{getIndexLetter(i)}})</h3>
        <p mat-line>{{house.street}}</p>
        <p mat-line>{{house.notes}}</p>
        <span><button mat-icon-button (click)="remove(house.$key)"><mat-icon>delete</mat-icon></button></span>
      </mat-list-item>
    </mat-list>
  </aside>
  <sebm-google-map *ngIf="route && houses" [latitude]="route.lat" [longitude]="route.lng" [zoom]="zoom">
    <sebm-google-map-marker [latitude]="house.lat" [longitude]="house.lng"
                            *ngFor="let house of (houses | async); let i = index" [label]="getIndexLetter(i)"
                            [iconUrl]="iconUrl"
    ></sebm-google-map-marker>
  </sebm-google-map>
  <aside class="unused-houses" *ngIf="(unassigned | async)?.length > 0">
    <h3>Unassigned Houses</h3>
    <mat-list dense>
      <mat-list-item *ngFor="let house of unassigned | async">
        <h3 mat-line>{{house.name}}</h3>
        <p mat-line>{{house.street}}</p>
        <span><button mat-icon-button (click)="add(house.$key)"><mat-icon>add</mat-icon></button></span>
      </mat-list-item>
    </mat-list>
  </aside>
</div>
