<span *ngIf="locationForm" [formGroup]="locationForm" class="location-broadcast">
      <button (click)="locationForm.get('broadcast').setValue(!locationForm.get('broadcast').value)" mat-icon-button
              matTooltip="Broadcast driver location">
        <mat-icon [color]="locationForm.get('broadcast').value ? 'accent' : undefined">explore</mat-icon>
      </button>
      <mat-form-field *ngIf="locationForm.get('broadcast').value">
         <input formControlName="name" matInput placeholder="Name"/>
      </mat-form-field>
   </span>
